@model GSLAB3.MVC.Models.mvcProduto
@{
    ViewData["Title"] = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.IdProduto)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Descricao)
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Valor)
            @Html.EditorFor(model => model.Valor)
            @Html.ValidationMessageFor(model => model.Valor)
        </div>
        <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-success" />
            <input type="reset" value="Limpar Campos" class="btn btn-outline-info" />
        </div>
    }
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
}


